* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #B0E0E6 16.62%, #E0FFFF 85.61%);
}
.cabecalho {
    display: flex;
    flex-direction: row ;
}